*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#hero{
    background-image: url(./img/1.png);
}
#about{
    background-image: url(./img/2.png);
}
#services{
    background-image: url(./design/3.png);
}
#client{
    background-image: url(./design/4.png);
}
#text{
    background-image: url(./design/5.png);
}
#contact{
    background-image: url(./design/6.png);
}
.container{
    height: 100vh;
    margin: auto;
    width: 100%;
    padding: 5% 7.7%;
}
#hero .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.logo i{
    cursor: pointer;
    color: #fff;
    font-size: 100px;
}
#hero .text h1{
    color: #fff;
    font-size: 120px;
    font-weight: 500;
    width: 550px;
    line-height: 110px;
    letter-spacing: -1px;
    position: relative;
    bottom: 60px;
}
#hero .text h5{
    color: #9B9B9B;
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 1px;
    position: relative;
    bottom: 35px;
}
#about .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#about .text{
    width: 560px;
}
#about .text h2{
    width: 200px;
    color: #fff;
    font-size: 65px;
    font-weight: 600;
    line-height: 90px;
    margin-bottom: 20px;
    position: relative;
    bottom: 10px;
}
#about .text p{
    color: #fff;
    font-size: 22px;
    position: relative;
    bottom: 16px;
}
#about .text button{
    margin-top: 32px;
    padding: 13px 25px;
    font-size: 24px;
    color: #fff;
    background-color: #9B9B9B;
    cursor: pointer;
    border: 1px solid transparent;
    transition: .5s ease;
    border-radius: 10px;
}
#about .text button i{
    margin-left: 10px;
}
#about .text button:hover{
    background-color: transparent;
    border: 1px solid #9B9B9B;
}